.winButtons_c38106.winButtonsWithDivider_c38106 { display: none!important;}


div[aria-label="The Last Meadow"] { display: none !important; }

div[aria-label="Family Center"] { display: none !important; }

div:nth-child(46), div:nth-child(43), div:nth-child(48), div:nth-child(45), div:nth-child(47), div:nth-child(21), .socialLinks__7df54{
    display: none !important;
}

.winButtons_c38106 {display: none!important;}

.channelTextArea_f75fb0.channelTextArea__74017 {
  margin-top: 8px!important;
}

.arrowIcon__73f2a {
  display: none!important;
}

.buttonContainer_e6e74f.app-launcher-entrypoint { display:none!important;}
