.guilds_c48ade, .sidebarList_c48ade, .panels_c48ade, .chat_f75fb0 > .subtitleContainer_f75fb0, .chatContent_f75fb0, .container_c8ffbb, .content_f75fb0 > .membersWrap_c8ffbb, .container__133bf > .container__9293f, .container_f391e3 > .container__9293f, .homeWrapper__0920e > .container__9293f, .container__01ae2 > .container__9293f, .container_fb64c9 > .container__9293f, .peopleColumn__133bf, .nowPlayingColumn__133bf, .scroller_c880e8, .container_f391e3 > .content_f75fb0, .shop__6db1d, .outer_c0bea0.panel_c0bea0, .searchResultsWrap_a9e706, .container_f369db, .chat_fb64c9, .container_a592e1, .callContainer_cb9592, .callContainer__722ff {
    border: 0px solid var(--border-subtle)!important;
}

.noticeContent__29487 {display: none!important;}

.notice__29487.theme-dark.theme-darker.images-dark  {display: none!important;}

._2ea32c412048f708-children {display: none!important;}

.separator_aa8da2 {display: none!important;}

.appLauncherGlow_e6e74f {display: none!important;}

.containerWrapper_fa6aa6, .container__9dbd2 {
    display: none!important;
}


button[aria-label="Checkpoint"] {
    display: none!important;
}

._85643a485899904b-button._9293f6b2fc12398a-iconWrapper._9293f6b2fc12398a-clickable {
    display: none!important;
}

button[aria-label="Send a gift"] {
    display: none!important;
}

.button__74017.button__24af7  {
  display: none!important;
}

.channel_c21703 .linkButton_ebd2ba > .link__2e8e1[href="/shop"], 
.channel_c21703 .linkButton_ebd2ba > .link__2e8e1[href="/store"]  {
  display: none;
}


[class^="profileEffects"] {
    display: none;
}


svg[class^="avatarDecoration"],             
img[class^="avatarDecoration"],             

[class*="bannerSVGWrapper_"] > mask > image {
    display: none;
}
[class*=avatarDecorationHint_] > foreignObject {
  width: 80px;
  height: 80px;
  mask: url(#svg-mask-avatar-status-round-80);
}
[class*=avatarDecorationHint_] {
  top: -80px;
  left: 0px;
  position: relative;
}



div[class*=nameAndDecorators] div[role="button"]:has(svg[aria-label^="Server boosting since"]),
div[class*=nameAndDecorators] div[role="button"]:has(svg[aria-label^="Server Boosting since"]) {
    pointer-events: none;
}


div[class*="listItem"]:has(div[aria-label="Explore Discoverable Servers"]) {
  display: none;
}


div[class^="effectsWrapper"] {
    display: none;
} 
img.emoji{
    opacity: 100;
}
div[class*="shakeReaction"] {
    animation: none !important;
}

.shinyButton_fc8363.button_afdfd9.lookFilled__19298.colorGreen__5f181.sizeSmall__71a98.fullWidth__7c3e8.grow__4c8a4.ctaButton_abf121 {
	display: none!important;
}


.header_b3f026 { display: none!important; } 

.upsellContainer__0b69f.upsellContainerShadow__0b69f.upsellContainerFloating__0b69f {
    display: none!important;
}

label.label_df4aaf.labelChecked_df4aaf {
    display: none!important;
}

div:nth-child(46), div:nth-child(43), div:nth-child(48), div:nth-child(45), .socialLinks__7df54{
    display: none !important;
}
div[aria-label="Merch"] { display: none; }
div[aria-label="The Last Meadow"] { display: none; }

div[aria-label="Family Center"] { display: none; }





div[aria-label="Start an Activity"] { display: none!important; }
button[aria-label="Start an Activity"] { display: none!important; }
button[aria-label="Send a gift"] { display: none!important; }
button[aria-label="Open GIF picker"] { display: none!important; }
button[aria-label="Open sticker picker"] { display: none!important; }

button[aria-label="Noise Suppression powered by Krisp"] { display: none!important; }
button[aria-label="Start An Activity"] { display: none!important; }


a[data-list-item-id$="___nitro"] { display: none; }


a[data-list-item-id*="shop"] { display: none; }




div[aria-label="User Settings"] > div[aria-label="Nitro"] { display: none; }
div[aria-label="User Settings"] > div[aria-label="Nitro"] + div { display: none; }
div[aria-label="User Settings"] > div[aria-label="Subscriptions"] { display: none; }
div[aria-label="User Settings"] > div[aria-label="Gift Inventory"] { display: none; }
div[aria-label="User Settings"] > div[aria-label="Gift Inventory"] + div[class^="item_"] { display: none; }


div[aria-label="User Settings"] > div[aria-label="Gift Inventory"] + div[class^="item_"] + div[class^="separator"] { display: none; }


div[aria-label="User Settings"] > div[aria-label="Clips"] + div[class^="item_"] + div[class^="separator_"] + div[class^="header_"] { display: none; }
div[aria-label="User Settings"] > div[aria-label="Clips"] + div[class^="item_"] + div[class^="separator_"] + div[class^="header_"] ~ div[class^="header_"] { display: block; }


div[class*="upsellOverlayContainer_"] { display: none; }


div[class^="optionBox"]:has(div[class^="text-sm-semibold"] > div[class^="optionBoxText"] > div[class^="optionBoxDescription"] > div[class^="nitroWheelFlairContainer"]) { display: none; }


div[class*="decorationGridItem"]:has(div[class*="iconBadge"]) { display: none; } 
div[class*="effectGridItem"]:has(div[class*="iconBadge"]) { display: none; } 


div[class^="premiumFeatureBorder"] { display: none; }


#profile-customization-tab > div[class^="container"]:has(button[class*="colorBrand"]) { display: none; }


div[class^="imageUploaderInner"] + div[class^="imageUploaderHint"] { display: none; }
div[class^="imageUploaderInner"] + div[class^="imageUploaderHint"] + div[class^="imageUploaderIcon"]{ display: none; }


div[class^="bannerNitroUpsell"] { display: none;}


div[class^="container"]:has(div[class^="children"] > div[class^="soundboardRow"]) { display: none; }


div[class^="selectionGroup"]:has(div[role="radiogroup"] > div > div[class^="presets"] > [class*="appIconSelectionContainer"]) { display: none; }


section[class*="basicThemeSelectors_"] + section { display: none; }


button[id="sticker-picker-tab"] { display: none; }


div[class^="characterCount"] > div[class*=" upsell_"] { display: none; }


button[class*=" selectorButtonPremiumRequired"] { display: none; }


div[class^="premiumIconWrapper"] { display: none; }


div[class*="hasCollectiblesUpsell"] > div[class ^="userPopoutInner"] > div[class*="animation_"] { display: none; }






div[id="guild-header-popout-premium-subscribe"] { display: none; }
div[role="group"]:has(div[id="guild-header-popout-premium-subscribe"]) + div[role="separator"] { display: none; }


div[class^="serverBoostTabItem"] { display: none; }
div[class^="serverBoostTabItem"] + div[class^="separator"] { display: none; }


div[class^="divider"]:has(div > div > div > div[class^="upsell"]) { display: none; }





div[class^="children_"] > div[class^="upsellContainer"] { display: none; }
div[class*="tierHeaderUnlocked"] + div { display: none; }
div[class*="tier_"]:has(div[class^="tierHeaderLocked"]) { display: none; }
div[class^="tierInProgress"] { display: none; }


button[class^="shinyButton"]:has(div[class*="upsellButton"]) { display: none; }



ul[aria-label="Channels"] > div[role="button"][class^="container"] { display: none; }








button[id="super-reaction-picker-tab"] { display: none; }


div[class*="shakeReaction"] { animation: none !important; }
div[class^="reactionInner"] > div > div[class^="effectsWrapper"] { display: none; }
img[class*="hideEmoji"] { animation: blink-emoji 1s linear infinite; opacity: 255; }
@keyframes blink-emoji {  
  50% { opacity: 0; }
}


#message-add-reaction-1 { display: none; }
#message-actions-add-reaction-1 { display: none; }
div[aria-label="Add Super Reaction"] { display: none; }


div[class^="burstReactionTooltipPrompt"] { display: none; }






svg[class*="avatarDecoration_"] { display: none; }
img[class^="avatarDecoration_"] { display: none; }


div[class*="userProfileInner_"] > div:has(div[aria-label="Go to Shop"]) { display: none; }


div[class^="profileEffects"] { display: none; }


 
div[aria-labelledby^="vc-activities"] { display: none; }


div[data-dnd-name] > div[class^="wrapper"] svg { overflow: hidden; }


div[aria-label="Help"] { display: none; }


div[aria-label="Servers"] + div + div { display: none; }


div[aria-label="Servers"] + div[class^="tutorialContainer"] + div + div { display: none; } 
div[aria-label="Servers"] + div[class^="tutorialContainer"] + div + div + div { display: none; } 


a[data-list-item-id*="___library"] { display: none; }


div[class^="clickable-"][aria-label^="Subscriber since"] { display: none; }


a[aria-label^="Server boosting since"] { display: none; }


svg[aria-label^="Server boosting since"] { display: none; }


div[id*="message-reactions"] div:has(div div[aria-label*="super reaction"]) { display: none; }






[class*="falloweenBackgroundImage"] { display: none; }
[class*="falloweenArtContainer"] { display: none; }
[class*="artContainer"] { display: none; }

.shinyButton_fc8363.button_afdfd9.lookFilled__19298.colorGreen__5f181.sizeSmall__71a98.fullWidth__7c3e8.grow__4c8a4.ctaButton_abf121 {
	display: none!important;
}



.containerDefault__3187b.wrapper__7bcde {
	display: none!important;
}
content_c6490e {
	display: none!important;
}

.link__95dc0:before {
	display: none!important;
}

.sectionDivider__68d2a {
	display: none!important;
}

ul[aria-label="Channels"] > div[aria-hidden="true"] + div { 
	display: none!important;
}

.children__2ea32 {
    display: none!important;
}
